{% extends 'index/common.html'%}
{% block content %}
<div class="h-[400px] lg:h-[600px] form-background">
</div>
<div class="max-[700px]:-mt-[50%] -mt-[40%] mx-[5%] md:mb-[5%] md:-mt-[30%] md:mx-[20%] md:space-y-16">
  <h1 class="text-9xl text-white" style="font-family: Brush Script MT;">Lorem ipsum</h1>
  <h2 class=" text-4xl text-slate-300" style="font-family: Calibri;">lorem ipsum</h2>
</div>
  <div class="md:w-[20%] bg-indigo-200 md:h-[350px] md:ml-[60%] shadow-2xl"></div>
  <div class="max-[700px]:mt-[10%] w-[80%] h-[350px] ml-[10%] md:-mt-[350px] md:p-10 bg-indigo-50 md:space-y-16 md:w-[40%] md:mx-[20%] md:h-[350px] shadow-2xl">
    <h1 class="text-left text-4xl space-y-8">Compila i campi per ottenere il biglietto</h1>
    <form id="myForm" class="text-left text-4xl space-y-8" method="POST">
      {% csrf_token %}
      <div class="">
        <label class="">nome</label>
        {{ form.nome }}
      </div>
      <div class="">
        <label for="inputPassword4" class="">cognome</label>
        {{ form.cognome }}
      </div>
      <div class="">
        <span class="" id="addon-wrapping">@</span> 
          {{ form.email }}
      </div>
      <div class="">
        <label class="" for="inputGroupSelect01">numero biglietti</label>
        {{form.numeroBiglietti}}
      </div>
      <div class="">
        <button type="submit" class="" id="submit" style="background-color: #0033dd;">Procedi</button>
        <button onclick="reset()" type="button" class=""  style="background-color: #0033dd;">Azzera</button>
    </form>  
  </div>
<script>
 function reset() { 
   document.getElementById("myForm").reset();
 }
</script>

{% endblock %}
